%p
%p
.container
  %h2 Why PacktheHouse?
  %p
    There are so many wonderful storefront theaters in Chicago.
    Some nights they're filled to bursting and other nights, the actors
    outnumber the audience. PacktheHouse seeks to easily connect theaters
    finding themselves with last minute seats available and Chicago
    theatergoers eager to see more shows at rush prices.

  %p
    PacktheHouse is very much under construction. If you have comments,
    suggestions, or are a theater and want to use PacktheHouse, send an
    email to
    = mail_to 'gabrielglevine@gmail.com'
