%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"}
    = link_to image_tag('logo.png'), root_url
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}

    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      = link_to 'About', home_about_url, class: 'nav-link'
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, class: 'nav-link'
      - else
        = link_to 'Login', new_user_session_path, class: 'nav-link'
